.weather-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

h2 {
    font-size: 2rem;
    color: aliceblue;
}

.weather-infos {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.weather-infos img {
    width: 100px;
}

.temperature {
    font-weight: bold;
    color: aliceblue;
    font-size: 2.5rem;
}

.description {
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: aliceblue;
}

.details {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}

@media (min-width: 768px) {
    .weather-infos {
        flex-direction: row; 
    }

    .details {
        flex-direction: row; 
    }
}
