.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  animation: float 5s ease-in-out infinite;
}

.text-01 {
  font-size: 3rem;
  background: linear-gradient(to right, #0ea5e9, #16a34a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h1 {
  color: #fffefe;
}

input {
  padding: 10px;
  border-radius: 20px 0px 0 20px;
  border: none;
  width: 60%;
  max-width: 300px;
  outline: none;
  margin-top: 30px;
}

button {
  background-color: #378bda;
  border: 0;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

button:hover {
  background-color: #0561ac;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .text-01 {
    font-size: 2.5rem;
  }
  
  input {
    width: 80%;
    max-width: 200px;
  }

  button {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .text-01 {
    font-size: 2rem;
  }
  
  input {
    width: 100%;
    max-width: none;
  }
  
  button {
    width: 100%;
    border-radius: 0 0 20px 20px; /* Ajusta a borda para caber bem no layout */
  }
}
